<mat-card>
  <mat-card-title>Lista de Tareas</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let todo of todos">
        <mat-checkbox [checked]="todo.completed">{{ todo.title }}</mat-checkbox>
      </mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>

    <form (ngSubmit)="addTodo()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nueva Tarea</mat-label>
        <input matInput [formControl]="newTodoControl">
        <mat-error *ngIf="newTodoControl.hasError('required')">
          La tarea es requerida
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="newTodoControl.invalid">
        Agregar
      </button>
    </form>
  </mat-card-content>
</mat-card>
<app-todo-list></app-todo-list>